name: mail newsletter

on:
  schedule:
  - cron: "0 2 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '11.0.9'

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: mail
      env:
        EMAIL_ID: ${{ secrets.EMAIL_ID }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        GIST_ACCESS_KEY: ${{ secrets.GIST_ACCESS_KEY }}
        GIST_DESCRIPTION: ${{ secrets.GIST_DESCRIPTION }}
        GIST_FILE_NAME: ${{ secrets.GIST_FILE_NAME }}
        STEAM_USER_ID: ${{ secrets.STEAM_USER_ID }}
      run: |
        java -jar target/steamfollowmail-1.0-SNAPSHOT.jar
